  <form class="form-horizontal" ng-submit="login()">
    <div class="error">{{error}}</div>
    <div class="control-group">
      <label class="control-label" for="email">Email</label>
      <div class="controls">
        <input type="email" id="email" placeholder="yourEmail@gmail.com" ng-model="email" required>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">Password</label>
      <div class="controls">
        <input type="password" id="inputPassword" placeholder="Password" ng-model="password" required>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="submit" class="btn btn-primary">Sign in</input>
        <button type="button" class="btn" ng-click="register()">Register</button>
      </div>
    </div>
  </form>
