<h1>Manage Disbursals</h1>
<div class="error" ng-hide="err.length == 0">{{err}}</div>
<table class="table">
  <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Amount</th>
  </thead>
  <tr ng-repeat="disbursal in disbursements">
    <td>{{disbursal.firstName}}</td>
    <td>{{disbursal.lastName}}</td>
    <td>{{disbursal.amount | currency}}</td>
    <td>
      <div ng-repeat="donation in disbursal.matchedDonations">
        {{donation.entryId}}<br>
        {{donation.entry[0].wepay.payer_name}}<br>
        {{donation.entry[0].wepay.amount}}
      </div>
    </td>
  </tr>
</table>