@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,800);
html,body,h1,p,div,ol,li{margin:0;padding:0;}
body{font-family:"Open Sans",sans-serif;color:#00678C;font-size:18px;}
h1{font-weight:800;font-size:48px;text-transform:uppercase;}
#description{font-size:24px;line-height:120%;}
#header{padding:50px 18% 30px;}
.section{padding:30px 18%;}
.highlighted{background:#D4E6EC;color:#004C66;}
.button{text-decoration:none;text-transform:uppercase;font-weight:800;font-size:24px;color:#00678C;border:4px solid #00678C;padding:20px;width:180px;display:block;text-align:center;margin-right:20px;float:left;}
.button:active{color:#fff;background:#00678C;}
.button.major{color:#fff;background:#00678C;}
.button.major:active{background:#004C66;border-color:#004C66;}
