{% extends "layout.html" %}

{% block scripts %}
<script src="/javascripts/admin.js"></script>
<script src="/javascripts/adminServices.js"></script>
{% endblock %}

{% block content %}
  <div ng-controller="NavigationCtrl">
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li ng-repeat="route in routes" ng-class="{active: route.active, loading: route.loading}" class="loading">
            <a href="{{route.path}}">{{route.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="alert" ng-show="notification" ng-class="notification.class">
      <strong ng-bind="notification.title"></strong> <span ng-bind="notification.message"></span>
    </div>
    <div ng-view ng-hide="notification.loaderError" ng-cloak></div>
  </div>
{% endblock %}