{% extends "layout.html" %}

{% block content %}
  <div class="collected">
    <a class="wepay-widget-button wepay-green" id="wepay_widget_anchor_50954f3fa5f6a" href="https://www.wepay.com/donations/890705390">View Progress</a><script type="text/javascript">var WePay = WePay || {};WePay.load_widgets = WePay.load_widgets || function() { };WePay.widgets = WePay.widgets || [];WePay.widgets.push( {object_id: 890705390,widget_type: "donation_campaign_progress",anchor_id: "wepay_widget_anchor_50954f3fa5f6a",widget_options: {no_dialog: "true",total_collected: "true",button_text: "View Progress"}});if (!WePay.script) {WePay.script = document.createElement('script');WePay.script.type = 'text/javascript';WePay.script.async = true;WePay.script.src = 'https://static.wepay.com/min/js/widgets.v2.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(WePay.script, s);} else if (WePay.load_widgets) {WePay.load_widgets();}</script>
  </div>

  <div class="makePayment">
    <form method="GET" action="/donate">
      <input name="amount" required min="1">
      <input type="submit">
    </form>
  </div>
  <div class="getARoom">
    <a href="getARoom.html">Get A Room</a>
  </div>
{% endblock %}