<section>
  <form ng-submit="register()">
    <div class="error">{{registerError}}</div>

    <label for="registerName">Name</label>
    <input id="registerName" type="text" placeholder="Joe Barkley" ng-model="name">
    <label for="registerEmail">Email</label>
    <input id="registerEmail" type="email" placeholder="yourEmail@gmail.com" ng-model="email">
    <label for="registerPassword">Password</label>
    <input id="registerPassword" type="password" placeholder="yourpass" ng-model="password">
    <input type="submit">
  </form>
</section>